<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>2FA Login Portal</title>
</head>
<body>
  <h1>Welcome <%= user ? user.username : 'Guest' %>!</h1>
  <% if (user && user.loggedIn) { %>
    <p>You are logged in.</p>
    <a href="/logout">Logout</a>

  <% } else { %>
    <p>Please <a href="/login">login</a> <a href="/register">register</a> </p>
  <% } %>
</body>
</html>

